.type:hover {
    background-color: rgb(122, 212, 240);
    color:  rgb(21, 6, 230);
    text-transform: uppercase;
} 

h1 {
    color:  rgb(21, 6, 230);
    font-family: 'Poppins', sans-serif;
}

a:hover {
    text-transform: uppercase;
    color:  rgb(125, 131, 100);
}

nav {
    display: flex;
    /* justify-content: space-around; */
    align-items: left;
    min-height: 10mm;
    background-color: rgb(24, 46, 212);
    font-family: 'Poppins', sans-serif; 
    border-radius: 5mm;
}

body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(206, 217, 224);
    
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid rgba(13, 35, 110, 0.582);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
    
}

td {
    text-align: center;
    padding: 5px;
    
}

.form {
    margin-top: 20px;

}

#content {
    width: 70%;
}