.type:hover {
    background-color: rgb(122, 212, 240);
    color:  rgb(21, 6, 230);
    text-transform: uppercase;
} 

a:hover {
    text-transform: uppercase;
    color:  rgb(234, 149, 245);
}

body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(69, 71, 85);
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}